<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Event Manager</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Menu Items -->
    <ul class="navbar-nav ml-auto">
      <!-- LoggedIn Users Menu -->
      <ng-container *ngIf="userRole">
        <!-- Simple Users Menu -->
        <ng-container
          *ngIf="userRole == 'hall_manager' || userRole == 'customer'"
        >
          <li class="nav-item">
            <a class="nav-link" rrouterLinkActive="active" routerLink="/home">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rrouterLinkActive="active" routerLink="/search-halls">
              Search Halls
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rrouterLinkActive="active" routerLink="/bookings">
              Bookings
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="userRole == 'admin'">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/admin/dashboard">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/admin/customers"
              >Manage Customers</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/admin/manage-halls"
              >Manage Halls</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/admin/manage-bookings"
              >Manage Bookings</a
            >
          </li>
        </ng-container>
      </ng-container>
      <!-- Guest Users Menu -->
      <ng-container *ngIf="userRole">
        <div ngbDropdown placement="auto" class="d-inline-block mr-5 ml-3">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            My Account
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a ngbDropdownItem routerLinkActive="active" routerLink="/user/profile">Profile</a>
            <a ngbDropdownItem type="button" (click)="logout()">Logout</a>
          </div>
        </div>
      </ng-container> 
    </ul>
  </div>
</nav>
