<div class="wrapper fadeInDown" style="height: 100vh" *ngIf="!_loadingStatus">
  <div id="formContent" class="pt-5" style="max-width: 800px">
    <div class="fadeIn first">
      <h3 class="text-center">Sign Up</h3>
    </div>
    <div class="alert alert-danger" *ngIf="errorOccured">
      {{ errorMessage }}
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="w-100">
        <div class="w-50 d-inline-block m-0">
          <input
            type="text"
            id="name"
            class="fadeIn input second"
            name="name"
            placeholder="Name"
            required
            ngModel
            [ngStyle]="{
              'border-color': name.invalid && name.touched ? 'red' : ''
            }"
            #name="ngModel"
          />
        </div>
        <div class="w-50 d-inline-block m-0">
          <input
            type="email"
            id="email"
            class="fadeIn input second"
            name="email"
            placeholder="Email (Valid Email)"
            required
            ngModel
            email
            [ngStyle]="{
              'border-color': email.invalid && email.touched ? 'red' : ''
            }"
            #email="ngModel"
          />
        </div>
      </div>
      <div class="w-100">
        <div class="w-50 d-inline-block m-0">
          <input
            type="password"
            id="password"
            class="fadeIn input third"
            name="password"
            placeholder="Password (Min 6 digits)"
            required
            minlength="6"
            ngModel
            [ngStyle]="{
              'border-color': password.invalid && password.touched ? 'red' : ''
            }"
            #password="ngModel"
          />
        </div>
        <div class="w-50 d-inline-block m-0">
          <input
            type="tel"
            id="cnic"
            class="fadeIn input third"
            name="cnic"
            placeholder="CNIC (Min 13 digits)"
            minlength="13"
            maxlength="13"
            required
            ngModel
            [ngStyle]="{
              'border-color': cnic.invalid && cnic.touched ? 'red' : ''
            }"
            #cnic="ngModel"
          />
        </div>
      </div>
      <div class="w-100">
        <div class="w-50 d-inline-block m-0">
          <input
            type="tel"
            id="phone_number"
            class="fadeIn input third"
            [ngStyle]="{
              'border-color':
                phone_number.invalid && phone_number.touched ? 'red' : ''
            }"
            name="phone_number"
            placeholder="Phone Number (Min 11)"
            required
            minlength="11"
            maxlength="11"
            ngModel
            #phone_number="ngModel"
          />
        </div>
        <div class="w-50 d-inline-block m-0">
          <input
            type="text"
            id="location"
            class="fadeIn input third"
            [ngStyle]="{
              'border-color': location.invalid && location.touched ? 'red' : ''
            }"
            #location="ngModel"
            name="location"
            placeholder="Location"
            required
            ngModel
          />
        </div>
      </div>
      <div class="w-100 text-center mt-3 mb-4">
        <div class="w-50 d-inline-block">
          <div class="w-100">
            <h5>Select User Role</h5>
          </div>
          <div class="w-100">
            <div class="w-50 d-inline-block m-0">
              <input
                type="radio"
                id="hallmanager"
                class="fadeIn third"
                name="role"
                value="hall_manager"
                required
                ngModel
              />
              <label for="hallmanager">Hall Manager</label>
            </div>
            <div class="w-50 d-inline-block m-0">
              <input
                type="radio"
                id="customer"
                class="fadeIn third"
                name="role"
                value="customer"
                required
                ngModel
              />
              <label for="customer">Customer</label>
            </div>
          </div>
        </div>
        <div class="w-50 d-inline-block">
          <div class="w-100">
            <h5>Profile Pic</h5>
          </div>
          <div class="w-100">
            <div class="w-50 d-inline-block m-0">
              <input
                type="file"
                accept="image/*"
                (change)="onFileSelected($event)"
                required
                ngModel
                name="file"
              />
            </div>
          </div>
        </div>
      </div>
      <input
        type="submit"
        class="fadeIn fourth"
        value="Register"
        [disabled]="f.invalid || !fileSelected"
      />
    </form>
    <div id="formFooter">
      Don't have a account?
      <a class="underlineHover" [routerLink]="'/sign-in'">SignIn</a>.
    </div>
  </div>
</div>
<div style="height: 100vh" *ngIf="_loadingStatus">
  <app-loading-spinner></app-loading-spinner>
</div>
